button {
    background: none;
    border: 2px solid #fff;
    padding: 6px 6px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  button:hover {
    background: #c234c2;
    color: #fff;
  }
  .card-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
  }
  .card-grid p {
    text-align: center;
    font-size: 1.5rem;
    color : #fff;
    grid-column: 1 / -1;
    grid-row: 1 / -1; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  